.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  background-color: #121212; /*rgb(30, 215, 96);*/      
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc( 2vmin);
  color: rgb(30, 215, 96);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Player-header {
  background-color: rgb(30, 215, 96);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Git-header{
  background-color: rgb(30, 215, 96);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Homepage-header{
  background-color: #121212;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

 .me-auto{
  display:'flex'; 
  margin-left: auto;
  margin-right: auto;
 }

 .player{
   width: 100%;
   height: 100%;
   background-color: rgb(30, 215, 96);

 }

 .video{
   width: 50%;
   height: 50%;
   object-fit: contain;
 }

 .content{
   position:absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.411);
   top: 55px;
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column;
 }

 .Overlay{
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
 }

 .BuiltInPlayer{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }